/* Empty. Add your own CSS if you like */
.custom-circle-green-icon {
  color : green;
}
.custom-circle-grey-icon {
  color : grey;
}

.custom-scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
.custom-scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}