<ion-tabs class="tabs-icon-bottom tabs-color-active-positive" >
<!-- <ion-tabs class="tabs-icon-bottom tabs-positive "> -->

  <!-- Plans Tab -->
  <ion-tab title="Plan" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/plans">
    <ion-nav-view name="tab-plans"></ion-nav-view>
  </ion-tab>

  <!-- Create Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" hidden="true" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>      
  </ion-tab>

  <!-- History Tab -->
  <ion-tab title="History" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>

</ion-tabs>

